body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}
#judul{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin: 0;
    font-size: 20pt;
    background-color:rgb(0, 255, 179);
    margin-left: 187px;
    margin-right: 187px;
}
table{
    display: inline-block;
    background-color: beige;
}
#jdl{
color: black;
text-align: center;
}
#member{
    width: 100px;
    display: inline-block;
}
#mnama{
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
#mposisi{
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
#mtgl{
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
#mseb{
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.left-div{
width: 100px;
display: inline-block;
}
.right-div{
display:inline-block;
}